/* CSS */

:root {
    --color-primary: #191d2b;
    --color-secondary: #27ae60;
    --color-white: #FFF;

    --color-black: #000;
    --color-gray-0: #f8f8f8;
    --color-gray-1: #dbe18e;
    --color-gray-2: #b2becd;
    --color-gray-3: #6c7983;
    --color-gray-4: #454e56;
    --color-gray-5: #2a2e35;
    --color-gray-6: #12181b;
    --br-sm-2: 14px;
}

#btn-test::before {
    background: linear-gradient(blue, red);
    background-size: 50%, 50%
}

#hamburger-menu {
    
}
